# Python
__pycache__/
*.py[cod]
*.egg-info/
.venv/
venv/
dist/
build/
.coverage
htmlcov/
.mypy_cache/
.ruff_cache/
.pytest_cache/

# Env
.env
.env.local

# IDE
.vscode/
.idea/

# OS
.DS_Store

# Node.js / Next.js
node_modules/
.next/
out/
*.tsbuildinfo
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*

# Docker
*.env.local
